
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Spring Blog | Single Post View')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div>
    <div th:text="${postId}">Id</div>
    <div th:text="${post.title}">Title</div>
    <div th:text="${post.body}">Body</div>
    <a th:href="@{|/posts/edit/${postId}|}">Edit Post</a>
    <form th:action="@{|/posts/delete/${postId}|}" th:method="post">
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html> 